<flutter>
  <.csrf_token />
  <AppBar elevation="1">
    <title>Flutter Server</title>
    <IconButton
      icon="chevron_left_outlined"
      phx-click={LiveViewNative.Flutter.Dart.go_back()}
      as="leading"
    />
    <IconButton icon="chevron_right_outlined" phx-href={~p"/second-page"} />
  </AppBar>
  <viewBody>
    <%= @inner_content %>
  </viewBody>
</flutter>
